@font-face{
    font-family: SouthernAirePersonalUseOnly;
    src: url(../font/19484.otf);
}
@font-face{
    font-family: PTSerif-Regular;
    src: url(../font/8154.ttf);
}
@font-face{
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf);
}
body{
    margin: 0;
    background-color:  #faf9f6bd;
}
main{
    background-color:  #faf9f6bd;
}
.section{
    background-image: url(../img/Kak-sdelat-kontakty-v-WordPress-v-shapke-sajta.jpg);
    height: calc(100vh - 40px);
    background-color:   #faf9f6bd;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 40px;
    text-align: center;
}
.symbol{
    color: #cea877;
    font-family:  SouthernAirePersonalUseOnly;
    font-size: 120px;
    padding-top: 20px;
}
.section > div:last-child{
    text-transform: uppercase;
    font-family: PTSerif-Regular;
    font-size: 60px;
}
.main{
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: center;
    font-size: 30px;
    padding: 15px 0;
    font-family: PTSerif-Regular;
}
.main-item{
    text-align: center;
    padding: 0 0 20px;
    font-family: Roboto;
    font-size: 20px;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.footer-block-item{
    color: #cea877;
    font-size: 50px;
    font-family: SouthernAirePersonalUseOnly;
}
.icon-img1{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.contacts{
    padding-left: 15px;
}
.contact-item{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.contact-item1{
    padding: 20px;
}

.contact-item1 > div:first-child{
    font-size: 60px;
    color: #cea877;
    font-family: SouthernAirePersonalUseOnly;
}
.contact-item1 > div:nth-child(2){
    font-size: 35px;
    text-transform: uppercase;
    font-family: PTSerif-Regular;
}
img{
    width: 100%;
}
.info{
     padding: 30px;
}
.information-input{
    display: flex;
    align-items: center;
}
.information-input > span:first-child{
    width: 100px;
}
.name{
    margin: 10px;
    border: inset;
    width: 100%;
    vertical-align: middle;
}
button{
    background-color: #cea877;
    color: white;
    width: 120px;
    height: 35px;
    font-size: 20px;
    border: outset;
    font-family:  StMarie;
}
.button{  
    display: flex;
    justify-content: flex-end;
}
button:hover{
    background-color: #a39481;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin: 20px 0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.map{
    font-size: 60px;
    text-transform: uppercase;
    font-family: SouthernAirePersonalUseOnly;
    text-align: center;
    color: #cea877;
}
.map-location{
    font-size: 40px;
    text-transform: uppercase;
    font-family: PTSerif-Regular;
    text-align: center;
}
@media (max-width: 750px){
    .main{
        text-align: center;
        font-size: 25px;
        padding: 15px 20px;
    }
    .main-item{
        text-align: center;
    }
}