
body{
    margin: 0;
    background-color:  #faf9f6bd;
}
main{
    background-color:  #faf9f6bd;
}
.menu_box-item{
    text-decoration: none;
}
.close{
    text-decoration: none;
    color: black;
}
.menu{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap:10px;
    margin-top: 70px;
}
.menu-item{
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.15);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.menu-item .menu-item__img{
    position: relative;
    overflow: hidden;
}
.menu-item .menu-item__img img{
    transition: transform 2s;
}
.menu-item:hover .menu-item__img img{
    transform: scale(1.2);
}
.menu-item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f9f9f9;
}
.menu-item__img > img{
    max-width: 100%;
    max-height: 100%;
}
.menu-item__title{
    color: #cea877;
}
.menu-item__title, .menu-item__price{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.menu-item__button{
    background-color: #cea877;
    color: white;
    border-radius: 4px;
    border: solid #cea877;
    text-transform: uppercase;
    padding: 7px;
    text-align: center;
    cursor: pointer;
}
.menu-item__button:hover{
    background-color: #7e6d59;
    border: solid #7e6d59;
}
.indents{
    margin: 10px;
    
}
.menu-item_size_x{
    grid-column: span 2;
}
@media (max-width: 600px) {
.menu {
    grid-template-columns: 1fr;
}
.menu-item_size_x {
    grid-column: span 1;
}
}